header{
    text-align: center;
  }
  
  #container{
    display:grid;
    border:solid black;
    grid-template-columns: 1.5fr 3fr;
    height:400px;
    column-gap:10px;
  }
  
  #form{
    grid-column-start:1;
    border: solid red 1px;
  }
  
  #books{
    display: grid;
    grid-column-start:2;
    border: solid blue 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

button{
    height: 20px;
    width: 80px;
   
}
