header{
    text-align: center;
  }
  
  #container{
    display:grid;
    border:solid black;
    grid-template-columns: 1.5fr 3fr;
    height:auto;
    column-gap:10px;
    width: auto;
  }
  
  #form{
    grid-column-start:1;
    border: solid red 1px;
  }
  

button{
    height: 20px;
    width: 80px;
   
}

#table{
    display: grid;
    grid-column-start: 2;
    width: 100%;
    border: 1px black;

}

td,th{
    border: 1px black;
    padding-right: 200px;
    width:auto;
}



